{% extends 'base.html' %}     <!--összekapcsol a fejlcéses base.hmtl-el-->
{% load i18n %}
{% block active_ann %}active{% endblock %}


{% block content_1 %}
  <h3 style="text-align:center" class="display-6 focim">{% translate "Közlemények" %}</h3>   
  {% get_current_language as LC %} <!-- LC be teszi vagy a hu vagy az en karaktert -->
    {% for item in all_announcements %}    
      <div id="section{{ item.pk }}" class="carousel slide text-center" data-bs-ride="carousel"> 
        {% if item.img %}
          <img src="{{ item.img.url }}"  class="d-block w-100 h-400 shadow mb-3" alt="...">
        {% else %}
          <img src="/static/images/default_announcement.jpg"  class="d-block w-100 h-400 shadow mb-3" alt="...">
        {% endif %}  

        {% if LC == 'hu' %}
          <h3>{{ item.titel_hu}}</h3> 
          <p style="text-align:justify">{{ item.short_text_hu}}</p>
        {% endif %}
        {% if LC == 'en' %}
          <h3>{{ item.titel_en}}</h3> 
          <p style="text-align:justify">{{ item.short_text_en}}</p>
        {% endif %}

        <a href="{% url 'announc_pk' %}?pk={{ item.pk }}"><button type="button" class="btn btn-outline-danger">{% translate "Olvass tovább" %}</button></a>   
        <hr> <!-- vonal-->
      </div>
    {% endfor %}
{% endblock %}

